package view

templ App() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Super Mega App 💪</title>
			<script src="https://cdn.tailwindcss.com"></script>
			<script src="api/static/index.js"></script>
		</head>
		<body>
			@Map()
		</body>
	</html>
}

templ Map() {
	<div class="flex flex-col items-center justify-center content-center">
		<div id="map" class="w-screen h-80 rounded-full"></div>
		<button onclick="showMap()" class="block size-64 bg-red-600"></button>
	</div>
}
